<%- include('includes/header'); %>
<h2>Shows</h2>

<div class="container-fluid-sm">
<% if(shows.length){%>
    <div class="row">
        <div class="col-sm-1 font-weight-bold">
            Show Management page
        </div>
        <div class="col-sm-1 font-weight-bold">
            Show player
        </div>
    </div>
    <% for(let show of shows){%>
        <div class="row">
            <div class="col-sm-1"><a href="/shows/<%-show.shortid%>"><%- show.name%></a></div>
            <div class="col-sm-1"><a href="/shows/<%-user.username%>/<%-show.name%>/<%-show.shortid%>"><%-show.name%> player page</a></div>
        </div>
    <%}%>
<%}%>
</div>

<h2>Add Show:</h2>
    <form method="post" action="/shows">
        <div class="form-group row">
            <label for="showName" class="col-form-label col-sm-1">Show name:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="showName" name="showName" required/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1">Add Stream</div>
            <div class="col-sm-2">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Streams
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <% for(let stream of streams) { %>
                            <a data-stream-name="<%- stream.name %>" data-_id="<%- stream._id %>" data-shortid="<%- stream.shortid %>" class="dropdown-item show-stream"><%- stream.name %></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div id="new-show-streams">

        </div>
        <div class="form-group row">
            <div class="col">
                <button class="btn btn-primary" type="submit">Add Show</button>
            </div>
        </div>
    </form>


<h2>Streams</h2>

<div class="container-fluid-sm">
    <% for(let stream of streams) { %>
        <div class="row" id="stream-row-<%- stream.shortid %>>" data-stream-name="<%- stream.name %>" data-shortid="<%- stream.shortid %>">
            <div class="col"><span class="rtmpLink">rtmp://<%- hostname %>:1935/live/<%- stream.name %>?user=<%- stream.owner.username %>&shortid=<%- stream.shortid %></span></div>
            <div class="col-1"><button class="btn btn-info btn-sm copy-rtmp-button">Copy</button></div>
            <div class="col-1"><button class="btn btn-danger btn-sm delete-rtmp-button">Delete</button></div>
        </div>
    <% }%>
</div>

<h2>Add stream:</h2>
<form method="post" action="/streams/" class="form-inline">
    <div class="form-group row">
        <label for="streamName" class="col-form-label col-sm-1">Stream name:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="streamName" name="streamName"/>
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary mb-2">Add Stream</button>
        </div>
    </div>
</form>

<%- include('includes/footer'); %>