<%- include('includes/header'); %>
<h2>Shows</h2>

<div class="container-sm">


</div>



<h2>Streams</h2>

<div class="container-sm">
    <% for(let stream of streams) { %>
        <div class="row" id="stream-row-<%- stream.shortid %>>" data-stream-name="<%- stream.streamName %>" data-shortid="<%- stream.shortid %>">
            <div class="col"><span class="rtmpLink">rtmp://<%- hostname %>:1935/live/<%- stream.streamName %>?user=<%- stream.username %>&shortid=<%- stream.shortid %></span></div>
            <div class="col-1"><button class="btn btn-info btn-sm copy-rtmp-button">Copy</button></div>
            <div class="col-1"><button class="btn btn-danger btn-sm delete-rtmp-button">Delete</button></div>
        </div>
    <% }%>
</div>

<h2>Add stream:</h2>
<form method="post" action="/streams/" class="form-inline">
    <div class="form-group row">
        <label for="streamName" class="col-form-label col-sm-1">Stream name:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="streamName" name="streamName"/>
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary mb-2">Add Stream</button>
        </div>
    </div>
</form>

<%- include('includes/footer'); %>